* {
    padding: 0;
    margin: 0;
}
header {
    background-color:#221e1d;
    height:80px;
    width:100%;
    position:absolute;
}
h1{
    color:white;
}
header ul{
    position:absolute;
    right:5vw;
    top:0;
    line-height:80px;
}
h1 {
    position:absolute;
    left:120px;
    top:0;
    line-height:80px;
    background-image:url(images/photo.png);
    background-repeat: no-repeat;
    background-position: center;
    width:210px;
    text-indent:-9999px;
}
header li {
    display:inline;
    margin-right:4vw;
}
header a{
    color:white;
    text-decoration: none;
}
header a:hover {
    text-decoration: underline;
}
.bio {
    background-color:antiquewhite;
    color:white;
    height:100vh;
    background-image: url(images/photo1.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.bio h2 {
    font-size:60px;
}
.bio p{
    color:white;
    font-size:18px;
    margin:25px 0;
}
.bio a {
    color:white;
    text-decoration:none;
    border: 1px solid #F0E4E0;
    padding: 10px 20px;
    border-radius:5px;
}
.login {
    background-color:#AB886D;
    color:white;
    padding:60px 0;
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
}
.login p {
    margin bottom: 20px;
}
.login input, login button {
    background-color: transparent;
    color:white;
    border: 1px solid #E9DFDD;
    padding: 10px;
    border-radius: 5px;
}
.login input {
    width:200px;
    margin-right:15px;
}
.login button {
    width: 80px;
    cursor:pointer;
}
input::placeholder {
    color:#E4E0E1;
}
input:focus {
    outline: none;
    border-color:#E4E0E1;
}
footer {
    background-color:black;
    color: #B7B7B7;
    height:60px;
    display:flex;
    justify-content:center;
    align-items: center;
    font-size: 20px;
    line-height:1.8em;
}
